<!DOCTYPE html>
<html lang="en" class="has-background-light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Silkscreen:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <title>{% block title %}{% endblock %} Distinguished Prizes</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./ui/favicon.ico') }}">
  {% block early_scripts %}
  {% endblock %}
  <script src="https://kit.fontawesome.com/702ae185c3.js" crossorigin="anonymous"></script>
</head>
<body>
  <section class="container is-max-desktop">
    <header>
      <nav class="navbar is-dark" id="basic-navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ url_for('index.home') }}">
            <img src="/static/ui/bronze_chest.png" height="48px">
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu-dp">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navbar-menu-dp">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('index.home') }}">
                Prizes
            </a>
            <a class="navbar-item" href="{{ url_for('index.about') }}">
              About
            </a>
            <a class="navbar-item" href="{{ url_for('index.news') }}">
              Updates
            </a>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="section">
        <div class="container">
          <div class="block">
            <h1 class="title">{% block header %}{% endblock %}</h1>
            <h2 class="subtitle">{% block subheader %}{% endblock %}</h2>
          </div>
          <div class="block">
            {% include 'includes/_messages.html' %}
          </div>
          <div class="block">
            {% block content %}{% endblock %}
          </div>
        </div>
      </section>
    </main>
  </section>
  <script src="/static/js/base.js"></script>
  <script src="/static/js/toggles.js"></script>
  <script src="/static/js/notifications.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>