
{% if form.id %}
  {{ form.id(hidden=true) }}
{% endif %}
{{ form.csrf_token }}
<div class="field">
  <label class="label">{{ form.name.label }}</label>
  <div class="control">
    {{ form.name(class="input") }}
  </div>
  {% for error in form.name.errors %}
    <p class="help is-danger">{{ error }}</li>
  {% endfor %}
</div>

<div class="field">
  <label class="label">{{ form.description.label }}</label>
  <div class="control">
    {{ form.description(class="textarea") }}
  </div>
  {% for error in form.description.errors %}
    <p class="help is-danger">{{ error }}</li>
  {% endfor %}
</div>

<div class="field">
  <label class="label">{{ form.details.label }}</label>
  <div class="control">
    {{ form.details(class="input") }}
  </div>
  <p class="help">Seperate detail items with spaces</p>
  {% for error in form.details.errors %}
    <p class="help is-danger">{{ error }}</li>
  {% endfor %}
</div>

<div class="field">
  <label class="label">{{ form.start_date.label }}</label>
  <div class="control">
    {{ form.start_date(class="input") }}
  </div>
  {% for error in form.start_date.errors %}
    <p class="help is-danger">{{ error }}</li>
  {% endfor %}
</div>

<div class="field">
  <label class="label">{{ form.end_date.label }}</label>
  <div class="control">
    {{ form.end_date(class="input") }}
  </div>
  {% for error in form.end_date.errors %}
    <p class="help is-danger">{{ error }}</li>
  {% endfor %}
</div>

<div class="field">
  <label class="label">{{ form.max_participants.label }}</label>
  <div class="control">
    {{ form.max_participants(class="input") }}
  </div>
  {% for error in form.max_participants.errors %}
   <p class="help is-danger">{{ error }}</li>
  {% endfor %}
</div>

<div class="file has-name field">
  <label class="file-label">
    {{ form.image(class="file-input") }}
    <span class="file-cta">
      <span class="file-icon">
        <i class="fa-solid fa-upload"></i>
      </span>
      <span class="file-label">
        {{ form.image.label }}
      </span>
    </span>
    <span class="file-name">
      {% if not form.image.data %}
        Empty
      {% else %}
        {{ form.image.data }}
      {% endif %}
    </span>
  </label>
  {% for error in form.image.errors %}
    <p class="help is-danger">{{ error }}</li>
  {% endfor %}
</div>

{% if image_name %}
  <img src="{{ url_for('index.download_image', filename=image_name)}}"/>
{% endif %}

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
  <div class="control">
    <a class="button is-link is-light" href="{{url_for('admin.sweepstakes')}}">Cancel</a>
  </div>
</div>