{% extends "layouts/base.html" %}

{% block header %}
    About Distinguished Prizes
{% endblock %}

{% block subheader %}
    Your long search for treasure has brought you here.
{% endblock %}

{% block content %}
<div class="block">
    Every month a Distinguished Prizes starts a new gaming related sweepstakes. It will run for about a month. During this time anyone in the USA who is 18 years or older can register for the sweepstakes.
    No accounts are required, all you need is an email address. Once the sweepstakes ends the winner will be randomly drawn from all participants. The winner will be emailed a link to a confirmation
    form. Once the confirmation form is filled out the prize will be mailed directly to you!
</div>
<div class="block">
    <p class="title">
        Simply Distinguished
    </p>
    No account is required, only a valid email address so we can contact you if you win. We are not going to spam your email address or sell your information.
    Only the winner is required to enter their shipping information.
</div>
{% endblock %}