{% extends "layouts/base.html" %}

{% block header %}
    Distinguished Prizes Updates
{% endblock %}

{% block subheader %}
    Every treasure hunter needs to keep their ears open for information.
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="card mb-6 mt-6 p-5">
            <p class="title">{{post.title}}</p>
            {% for block in post.parsed_content %}
                <div class="block">
                    {{ block }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}