{% extends "layouts/base.html" %}

{% block header %}
    Distinguished Prizes Updates
{% endblock %}

{% block subheader %}
    Every treasure hunter needs to keep their ears open for information.
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="card mb-6 mt-6">
            <div class="card-content">
                <p class="title">{{post.title}}</p>
                {% for block in post.parsed_content %}
                    <div class="block">
                        {{ block }}
                    </div>
                {% endfor %}
                <div class="content">
                    <div class="block">
                        <span class="m-2 like-btn" title="Like" data-id="{{post.id}}">
                            <img src="/static/ui/heart.png" width="24px" alt="Pixel Art Heart">
                            {{ post.like_count }}
                        </span>
                        <span class="m-2 dislike-btn" title="Dislike" data-id="{{post.id}}">
                            <img src="/static/ui/skull.png" width="24px" alt="Pixel Art Skull">
                            {{ post.dislike_count }}
                        </span>
                    </div>
                    <div class="block">
                        <time class="muted">Last Edited {{ post.last_edit }}</time>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script>
        for (let element of document.getElementsByClassName("like-btn"))
        {
            element.addEventListener("click", (event) => {
                data = {
                    id: parseInt(event.target.dataset.id),
                    vote: "True"
                }
                send_vote(data);
            });

        }

        for (let element of document.getElementsByClassName("dislike-btn"))
        {
            element.addEventListener("click", (event) => {
                data = {
                    id: parseInt(event.target.dataset.id),
                    vote: "False"
                }
                send_vote(data);
            });

        }


        function send_vote(data)
        {
            // send vote request here
        }
    </script>
{% endblock %}