{% extends "layouts/base.html" %}

{% block header %}
Winners
{% endblock %}

{% block content %}

{% for winner in winners %}
<nav class="panel">
    <p class="panel-heading">
        Winner for {{winner.sweepstake.name}}: {{winner.participant.name}}
    </p>
    <p class="panel-tabs">
        <a class="toggle" data-target="winner-status-container">Status</a>
        <a class="toggle" data-target="winner-address-container">Address Info</a>
    </p>
    <div id="winner-status-container" class="shown toggle-container">
        <div class="panel-block">
            <span class="panel-icon">
                <i class="fa-solid fa-calendar-days"></i>
            </span>
            <span class="has-text-weight-bold mr-1">Selection Date:</span>
            <span>{{winner.selection_date}}</span>
        </div>
        <div class="panel-block">
            <span class="panel-icon">
                <i class="fa-solid fa-flag"></i>
            </span>
            <span>{{winner.confirmed_status()}}</span>
        </div>
        <div class="panel-block">
            <span class="panel-icon">
                <i class="fa-solid fa-flag"></i>
            </span>
            <span>{{winner.fullfilled_status()}}</span>
        </div>
        {% if winner.confirmed %}
        <div class="panel-block">
            <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Tracking Number">
                <span class="icon is-left">
                    <i class="fa-solid fa-box"></i>
                </span>
            </div>
        </div>
        <div class="panel-block">
            <div class="control">
                <label class="radio">
                    <input type="radio" name="carrier" value="USPS">
                    <i class="fa-brands fa-usps fa-xl"></i>
                </label>
                <label class="radio">
                    <input type="radio" name="carrier" value="UPS">
                    <i class="fa-brands fa-ups fa-xl"></i>
                </label>
                <label class="radio">
                    <input type="radio" name="carrier" value="FEDEX">
                    <i class="fa-brands fa-fedex fa-xl"></i>
                </label>
            </div>
        </div>
        <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
                Mark Fullfilled
            </button>
        </div>
        {% endif %}
    </div>
    <div id="winner-address-container" class="hidden toggle-container">
        <div class="panel-block is-active">
            <span class="panel-icon">
                <i class="fa-solid fa-user"></i>
            </span>
            {{winner.first_name}} {{winner.last_name}}
        </div>
        <div class="panel-block">
            <span class="panel-icon">
                <i class="fa-solid fa-road"></i>
            </span>
            {{winner.address1}}
        </div>
        <div class="panel-block">
            <span class="panel-icon">
                <i class="fa-solid fa-building"></i>
            </span>
            {{winner.address2}}
        </div>
        <div class="panel-block">
            <span class="panel-icon">
                <i class="fa-solid fa-city"></i>
            </span>
            {{winner.city}}, {{winner.state}} {{winner.zipcode}}
        </div>
    </div>
</nav>
{% endfor %}

{% endblock %}