{% extends "layouts/base.html" %}

{% block header %}
    {{ sweepstakes.name }}
{% endblock %}

{% block subheader %}
    {{ entry_count }} people have registered.
{% endblock %}

{% block content %}
<div class="block">
    <div class="content">
        <div class="block">
            {% if winner %}
            <div class="notification is-info">
                Congratulations<span class="tag is-medium ml-1">{{winner.participant.name}}</span> you have won! You will be contacted shortly!
            </div>
            {% endif %}
        </div>
        <div class="block">
            {{ sweepstakes.description }}
        </div>
        <div class="block">
            <ul>
                {% for item in sweepstakes.details.split() %}
                <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="block">
            {% if sweepstakes.has_ended() %}
                <p class="has-text-weight-bold">This giveaway has ended.</p>
                {% if not winner %}
                    <p>A winner will be selected soon!</p>
                {% endif %}
            {% endif %}

            {% if not sweepstakes.has_started() %}
                <p class="has-text-weight-bold">This giveaway has not yet begun.</p>
            {% endif %}
        </div>
    </div>
</div>

{% if sweepstakes.has_started() and not sweepstakes.has_ended() %}
    <div clas="block">
        <a class="button" href="{{url_for('sweepstakes.register_get', sweepstakes_id=sweepstakes.id)}}">
            <span>Registration Form</span>
        </a>
    </div>
{% endif %}

{% endblock %}