{% extends "layouts/admin_base.html" %}

{% block header_scripts %}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block header %}
Admin Dashboard
{% endblock %}

{% block content %}
<div class="block">
    <h2 class="title">Site Views</h3>
    <div id="daily-views-chart"></div>
</div>
<div class="block">
    <h2 class="title">Site Traffic Sources</h3>
    <div id="traffic-sources-chart"></div>
</div>
<div class="block">
    <h2 class="title">Page Distribution</h3>
    <div id="traffic-pages-chart"></div>
</div>

{% endblock %}

{% block scripts %}
<script>
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(fetchTraffic);

    function drawCharts(requestData) {
      // Define the chart to be drawn.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date');
      data.addColumn('number', 'Unique Views');
      data.addColumn('number', 'Total Views');
      data.addRows(requestData.siteTraffic);
      let options =  {
          isStacked: true,
      };

      // Instantiate and draw the chart.
      var chart = new google.visualization.ColumnChart(document.getElementById('daily-views-chart'));
      chart.draw(data, options);

      // Define the chart to be drawn
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Source');
      data.addColumn('number', 'Count');
      data.addRows(requestData.siteTrafficSrcs);

      // Instantiate and draw the chart.
      var chart = new google.visualization.PieChart(document.getElementById('traffic-sources-chart'));
      chart.draw(data, null);

        // Define the chart to be drawn
        var data = new google.visualization.DataTable();
      data.addColumn('string', 'Page');
      data.addColumn('number', 'Count');
      data.addRows(requestData.siteTrafficPages);

      // Instantiate and draw the chart.
      var chart = new google.visualization.PieChart(document.getElementById('traffic-pages-chart'));
      chart.draw(data, null);
    }

    async function fetchTraffic() {
        const response = await fetch("/api/admin/traffic");
        const data = await response.json();
        drawCharts(data);
    }

  </script>
{% endblock %}