<div class="card">
    <header class="card-header">
        <p class="card-header-title is-centered">
            {% if not sweepstakes["future"] %}
                No upcoming giveaways, check back later!
            {% elif not sweepstakes["current"] %}
                No current giveaways, check back later!

            {% elif not sweepstakes["past"] %}
                No giveaways have finished yet.
            {% endif %}
            <i class="fa-solid fa-face-sad-cry ml-1"></i>
        </p>
    </header>
</div>