<div class="card mb-6">
    <header class="card-header">
        <p class="card-header-title is-centered">
            {{sweepstake.name}}
        </p>
    </header>
    <div class="card-content">
        <div class="card-image">
            <a href="{{url_for('sweepstakes.info', sweepstakes_id=sweepstake.id)}}">
                <figure class="image is-4by3">
                    <img src="{{url_for('index.download_image', filename=sweepstake.image)}}"
                        alt="Placeholder image">
                </figure>
            </a>
        </div>
    </div>
</div>