{% extends "layouts/base.html" %}

{% block header %}
    Distinguished Prizes
{% endblock %}

{% block subheader %}
    Your long search for treasure has brought you here.
{% endblock %}

{% block content %}
<div class="block">
    <p class="title">
        The Plan
    </p>
    Every month a Distinguished Prize will be given away. For about one month's time anyone in the USA who is 18 years or
    older can register for the sweepstakes. Once the sweepstakes ends the winner will be randomly drawn from all participants. The winner will
    be emailed a link to a confirmation form. Once the confirmation form is filled out the prize will be mailed directly to you! For full details
    examine the <a href="#">terms and conditions</a>.
</div>
<div class="block">
    <p class="title">
        Simply Distinguished
    </p>
    No account is required, only a valid email address so we can contact you if you win. We will not spam your email address or sell your information.
    Only the winner is required to enter their shipping information.
</div>
<div class="block">
    <p class="title">
        Why
    </p>
    Giving gifts is great. Receiving gifts is great. Lets see if advertisements will pay for it!
</div>
{% endblock %}