{% extends "layouts/base.html" %}

{% block header %}
    Distinguished Prizes Updates
{% endblock %}

{% block subheader %}
    Every treasure hunter needs to keep their ears open for information.
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="card mb-6 mt-6">
            <div class="card-content">
                <p class="title">{{post.title}}</p>
                {% for block in post.parsed_content %}
                    <div class="block">
                        {{ block }}
                    </div>
                {% endfor %}
                <div class="content">
                    <div class="block">
                        <span class="m-2 like-btn" title="Like" data-id="{{post.id}}">
                            <img src="/static/ui/heart.png" width="24px" alt="Pixel Art Heart">
                            <span id="like-count-{{post.id}}">{{ post.like_count }}</span>
                        </span>
                        <span class="m-2 dislike-btn" title="Dislike" data-id="{{post.id}}">
                            <img src="/static/ui/skull.png" width="24px" alt="Pixel Art Skull">
                            <span id="dislike-count-{{post.id}}">{{ post.dislike_count }}</span>
                        </span>
                    </div>
                    <div class="block">
                        <time class="muted">Last Edited {{ post.last_edit_str }}</time>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script>
        for (let element of document.querySelectorAll(".like-btn, .dislike-btn"))
        {
            element.addEventListener("click", (event) => {
                const likeBtn = event.currentTarget.classList.contains("like-btn");
                data = {
                    id: event.currentTarget.dataset.id,
                    vote: likeBtn ? "true" : "false"
                }
                let response = send_vote(data);
                response.then((reponse) => {
                    if (reponse.errors.length > 0)
                    {
                        alert("Failed to vote. Try again later.");
                    }
                    else {
                        console.log(data);
                        incrementCount(data);
                    }
                });
            });

        }

        async function send_vote(data)
        {
            const csrf_token = "{{ csrf_token() }}";
            try {
                let response = await fetch("/posts/vote", {
                    method: "POST",
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json',
                        "X-CSRFToken": csrf_token,
                    }
                });

                responseData = response.json();

                return responseData;
            }
            catch (error) {
                alert("An unknown error occured. Try again later.");
            }
        }

        function incrementCount(requestData) {
            const voteType = requestData.vote == "true" ? "like" : "dislike";
            const elementId = `${voteType}-count-${requestData.id}`;
            console.log(elementId);
            const countElement = document.getElementById(elementId);
            let currentCount = parseInt(countElement.innerText);

            currentCount++;

            countElement.innerText = currentCount;
        }
    </script>
{% endblock %}